keybinds {
	normal clear-defaults=true {
		bind "F12" { SwitchToMode "pane"; }
		bind "Alt h" { MoveFocusOrTab "left"; }
		bind "Alt j" { MoveFocus "down"; }
		bind "Alt k" { MoveFocus "up"; }
		bind "Alt l" { MoveFocusOrTab "right"; }
	}
	pane {
		unbind "d" "r"
		bind "s" { NewPane "Down"; }
		bind "v" { NewPane "Right"; }
	}
}

theme "carbonfox"
