keybinds clear-defaults=true {
    normal {
        bind "F12" { SwitchToMode "pane"; }

        bind "Alt left" { MoveFocus "left"; }
        bind "Alt down" { MoveFocus "down"; }
        bind "Alt up" { MoveFocus "up"; }
        bind "Alt right" { MoveFocus "right"; }
        bind "Alt h" { MoveFocus "left"; }
        bind "Alt j" { MoveFocus "down"; }
        bind "Alt k" { MoveFocus "up"; }
        bind "Alt l" { MoveFocus "right"; }

        bind "Alt t" { SwitchToMode "tab"; }
        bind "Alt p" { GoToPreviousTab; }
        bind "Alt n" { GoToNextTab; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }

        bind "Alt K" { FocusGuestSession; }
        bind "Alt J" { FocusHostSession; }
        bind "Alt H" { GoToPreviousTab; }
        bind "Alt L" { GoToNextTab; }
        bind "Alt z" { ToggleHostFullscreen; }
    }
    locked {
        bind "Alt F12" { WriteChars "[24;3~"; SwitchToMode "normal"; }
        bind "Alt esc" { WriteChars "[24;3~"; SwitchToMode "normal"; }
        bind "Alt x" { WriteChars "[24;3~"; SwitchToMode "normal"; }
    }
    pane {
        bind "left" { MoveFocus "left"; }
        bind "down" { MoveFocus "down"; }
        bind "up" { MoveFocus "up"; }
        bind "right" { MoveFocus "right"; }
        bind "h" { MoveFocus "left"; }
        bind "j" { MoveFocus "down"; }
        bind "k" { MoveFocus "up"; }
        bind "l" { MoveFocus "right"; }

        bind "s" { NewPane "down"; SwitchToMode "normal"; }
        bind "v" { NewPane "right"; SwitchToMode "normal"; }
        bind "a" { NewPane "stacked"; SwitchToMode "normal"; }
        bind "x" { CloseFocus; SwitchToMode "normal"; }

        bind "c" { SwitchToMode "renamepane"; PaneNameInput 0; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "normal"; }
        bind "F" { ToggleFocusNoUiFullscreen; SwitchToMode "normal"; }
        bind "F" { ToggleFocusNoUiFullscreen; SwitchToMode "normal"; }
        bind "'" { TogglePanePinned; SwitchToMode "normal"; }

        bind "i" { FocusGuestSession; SwitchToMode "normal"; }
        bind "o" { FocusHostSession; SwitchToMode "normal"; }
        bind "z" { ToggleHostFullscreen; SwitchToMode "normal"; }

        bind ";" { ToggleFloatingPanes; SwitchToMode "normal"; }

        bind "F12" { SwitchToMode "locked"; }

        bind "1" { GoToTab 1; SwitchToMode "normal"; }
        bind "2" { GoToTab 2; SwitchToMode "normal"; }
        bind "3" { GoToTab 3; SwitchToMode "normal"; }
        bind "4" { GoToTab 4; SwitchToMode "normal"; }
        bind "5" { GoToTab 5; SwitchToMode "normal"; }
        bind "6" { GoToTab 6; SwitchToMode "normal"; }
        bind "7" { GoToTab 7; SwitchToMode "normal"; }
        bind "8" { GoToTab 8; SwitchToMode "normal"; }
        bind "9" { GoToTab 9; SwitchToMode "normal"; }

        bind "[" { BreakPaneLeft; SwitchToMode "normal"; }
        bind "]" { BreakPaneRight; SwitchToMode "normal"; }

        bind "," {
          LaunchOrFocusPlugin "https://github.com/bamboo-brian/claude-monitor/releases/download/v0.1.1/claude-monitor-plugin.wasm" {
			  skip_plugin_cache true
			  move_to_focused_tab true
              floating true
          }; SwitchToMode "normal";
        }
    }
    tab {
        bind "left" { GoToPreviousTab; }
        bind "right" { GoToNextTab; }
        bind "h" { GoToPreviousTab; }
        bind "l" { GoToNextTab; }

        bind "H" { MoveTab "Left"; }
        bind "L" { MoveTab "Right"; }

        bind "a" { NewTab; SwitchToMode "normal"; }

        bind "c" { SwitchToMode "renametab"; }

        bind "S" { ToggleActiveSyncTab; SwitchToMode "normal"; }
        bind "x" { CloseTab; SwitchToMode "normal"; }
    }
    resize {
        bind "left" { Resize "Increase left"; }
        bind "down" { Resize "Increase down"; }
        bind "up" { Resize "Increase up"; }
        bind "right" { Resize "Increase right"; }
        bind "H" { Resize "Decrease left"; }
        bind "J" { Resize "Decrease down"; }
        bind "K" { Resize "Decrease up"; }
        bind "L" { Resize "Decrease right"; }
        bind "h" { Resize "Increase left"; }
        bind "j" { Resize "Increase down"; }
        bind "k" { Resize "Increase up"; }
        bind "l" { Resize "Increase right"; }
    }
    move {
        bind "left" { MovePane "left"; }
        bind "down" { MovePane "down"; }
        bind "up" { MovePane "up"; }
        bind "right" { MovePane "right"; }
        bind "h" { MovePane "left"; }
        bind "j" { MovePane "down"; }
        bind "k" { MovePane "up"; }
        bind "l" { MovePane "right"; }

        bind "n" { MovePane; }
        bind "p" { MovePaneBackwards; }
    }
    scroll {
        bind "e" { EditScrollback; SwitchToMode "normal"; }
    }
    search {
        bind "/" { SwitchToMode "entersearch"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "e" { EditScrollback; }
        bind "n" { Search "down"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "p" { Search "up"; }
    }
    session {
        bind "a" {
            LaunchOrFocusPlugin "zellij:about" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        bind "p" {
            LaunchOrFocusPlugin "plugin-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
    }
    entersearch {
        bind "Ctrl c" { SwitchToMode "scroll"; }
        bind "esc" { SwitchToMode "scroll"; }
        bind "enter" { SwitchToMode "search"; }
    }
    renametab {
        bind "esc" { UndoRenameTab; SwitchToMode "tab"; }
        bind "enter" { SwitchToMode "normal"; }
    }
    renamepane {
        bind "esc" { UndoRenamePane; SwitchToMode "pane"; }
        bind "enter" { SwitchToMode "normal"; }
    }
    shared_among "renametab" "renamepane" {
        bind "Ctrl c" { SwitchToMode "normal"; }
    }
    shared_except "normal" "locked" "entersearch" "renametab" "renamepane" {
        bind "m" { SwitchToMode "move"; }
        bind "r" { SwitchToMode "resize"; }
        bind "t" { SwitchToMode "tab"; }
        bind "Ctrl s" { SwitchToMode "scroll"; }
        bind "/" { SwitchToMode "search"; }
        bind "esc" { SwitchToMode "normal"; }
        bind "Ctrl q" { Detach; }
        bind "Alt q" { Quit; }
    }
    shared_among "scroll" "search" {
        bind "PageDown" { PageScrollDown; }
        bind "PageUp" { PageScrollUp; }
        bind "left" { PageScrollUp; }
        bind "down" { ScrollDown; }
        bind "up" { ScrollUp; }
        bind "right" { PageScrollDown; }
        bind "Ctrl b" { PageScrollUp; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "normal"; }
        bind "d" { HalfPageScrollDown; }
        bind "Ctrl f" { PageScrollDown; }
        bind "h" { PageScrollUp; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "l" { PageScrollDown; }
        bind "u" { HalfPageScrollUp; }
    }
}

// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
    about location="zellij:about"
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="https://github.com/bamboo-brian/zjstatus/releases/latest/download/zjstatus.wasm" {
        format_left   "{mode}{ancestry} #[fg=6]{session} {tabs}"
        format_right  "{command_user_info} {command_battery} {datetime}"
        format_space  ""
        format_hide_on_overlength "true"
        format_precedence "lcr"


        mode_normal        "#[bg=4] 󰬕 #[fg=4]"
        mode_locked        "#[fg=0]███"
        mode_pane          "#[bg=1]  #[fg=1]"
        mode_tab           "#[bg=1]  #[fg=1]"
        mode_resize        "#[bg=1] 󰙕 #[fg=1]"
        mode_move          "#[bg=1] 󰆾 #[fg=1]"
        mode_scroll        "#[bg=1] 󰮾 #[fg=1]"
        mode_enter_search  "#[bg=1] #[fg=1]"
        mode_search        "#[bg=1]  #[fg=1]"
        mode_rename_tab    "#[bg=1] #[fg=1]"
        mode_rename_pane   "#[bg=1] #[fg=1]"
        mode_session       "#[bg=1] 󰬚 #[fg=1]"
        mode_prompt        "#[bg=1]  #[fg=1]"
        mode_tmux          "#[bg=1] T #[fg=1]"
        mode_default_to_mode "pane"
        mode_nested_ascended "#[bg=8,fg=0]  #[fg=8]"
        mode_nested_dimmed   "#[bg=8,fg=0]  #[fg=8]"
        mode_nested_active   "{mode}"

        ancestry_format "#[fg=8] {name} "
        ancestry_nested_show false

        tab_normal   "#[fg=8]#[bg=8] {name} #[fg=8]"
        tab_active   "#[fg=4]#[bg=4,bold,italic] {name} #[fg=4]"
        tab_nested_ascended "#[fg=8]#[bg=8,fg=0] {name} #[fg=8]"
        tab_nested_dimmed   "#[fg=8]#[bg=8,fg=0] {name} #[fg=8]"
        tab_nested_active   "{tab}"

        command_user_info_command     "bash -c \"echo $(whoami)@$(hostname)\""
        command_user_info_format      "#[fg=4,bold] {stdout} "
        command_user_info_interval    "0"
        command_user_info_rendermode  "static"
        command_user_info_nestedshow false

        command_battery_command     "sh -c 'line=$(pmset -g batt | tail -1 | cut -f2 | cut -d\";\" -f1,2 | tr \";\" \" \" | tr -s \" \"); pct=$(printf \"%s\" \"$line\" | cut -d\" \" -f1 | tr -d \"%\"); state=$(printf \"%s\" \"$line\" | cut -d\" \" -f2-); case \"$state\" in charging) suffix=\" \" ;; \"AC attached\") suffix=\"  AC\" ;; *) suffix=\"\" ;; esac; if [ \"$pct\" -le 10 ]; then color=1; elif [ \"$pct\" -le 25 ]; then color=3; else color=8; fi; printf \"#[fg=%s] %s%%%s \" \"$color\" \"$pct\" \"$suffix\"'"
        command_battery_format      "{stdout}"
        command_battery_interval    "30"
        command_battery_rendermode  "dynamic"
        command_battery_nestedshow false

        datetime        "#[fg=8,bold] {format} "
        datetime_format "%H:%M"
        datetime_timezone "America/Phoenix"
        datetime_nested_show false

    }
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
}

nested_session_handling "descend"

// Plugins to load in the background when a new session starts
// eg. "file:/path/to/my-plugin.wasm"
// eg. "https://example.com/my-plugin.wasm"
load_plugins {
}

web_server true
 
web_client {
  font "JetBrainsMono Nerd Font" // default is "monospace" - deferring this decision to the browser/os
  cursor_style "block" // possibilities: "block", "bar", "underline"
  cursor_inactive_style "outline" // possibilities: "outline", "block", "bar", "underline"
  mac_option_is_meta false // default is true
  theme {
    // NOTE: this is the theme of the terminal web client which is separate from Zellij's theme
    //
    // all values are optional and should be in the form of "r g b" (eg. 10 20 30)
    // Catppuccin Mocha
    background 30 30 46
    foreground 205 214 244
    black 69 71 90
    blue 137 180 250
    bright_black 88 91 112
    bright_blue 137 180 250
    bright_cyan 148 226 213
    bright_green 166 227 161
    bright_magenta 245 194 231
    bright_red 243 139 168
    bright_white 166 173 200
    bright_yellow 249 226 175
    cursor 245 224 220
    cursor_accent 30 30 46
    cyan 148 226 213
    green 166 227 161
    magenta 245 194 231
    red 243 139 168
    white 186 194 222
    yellow 249 226 175
    selection_background 88 91 112
    selection_foreground 205 214 244
    selection_inactive_background 69 71 90
  }
}

// Use a simplified UI without special fonts (arrow glyphs)
// Options:
//   - true
//   - false (Default)
// 
// simplified_ui true
 
// Choose the theme that is specified in the themes section.
// Default: default
// 
theme "match-term"
 
// Choose the base input mode of zellij.
// Default: normal
// 
// default_mode "locked"
 
// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
// 
// default_shell "fish"
 
// Choose the path to override cwd that zellij will use for opening new panes
// 
// default_cwd "/tmp"
 
// The name of the default layout to load on startup
// Default: "default"
// 
// default_layout "compact"
 
// The folder in which Zellij will look for layouts
// (Requires restart)
// 
// layout_dir "/tmp"
 
// The folder in which Zellij will look for themes
// (Requires restart)
// 
// theme_dir "/tmp"
 
// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
// 
// mouse_mode false
 
// Toggle having pane frames around the panes
// Options:
//   - true (default, enabled)
//   - false
// 
pane_frames true
 
// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// (Requires restart)
// Default: false
// 
// mirror_session true
 
// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// (Requires restart)
// Options:
//   - detach (Default)
//   - quit
// 
// on_force_close "quit"
 
// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// (Requires restart)
// Valid values: positive integers
// Default value: 10000
// 
// scroll_buffer_size 10000
 
// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx
// 
// copy_command "pbcopy"
 
// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
// 
// copy_clipboard "primary"
 
// Enable automatic copying (and clearing) of selection when releasing mouse
// Default: true
// 
// copy_on_select true
 
// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
// scrollback_editor "/usr/bin/vim"
 
// A fixed name to always give the Zellij session.
// Consider also setting `attach_to_session true,`
// otherwise this will error if such a session exists.
// Default: <RANDOM>
// 
// session_name "My singleton session"
 
// When `session_name` is provided, attaches to that session
// if it is already running or creates it otherwise.
// Default: false
// 
// attach_to_session true
 
// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible
// Options:
//   - true (default)
//   - false
// 
// auto_layout false
 
// Whether sessions should be serialized to the cache folder (including their tabs/panes, cwds and running commands) so that they can later be resurrected
// Options:
//   - true (default)
//   - false
// 
// session_serialization false
 
// Whether pane viewports are serialized along with the session, default is false
// Options:
//   - true
//   - false (default)
// 
// serialize_pane_viewport false
 
// Scrollback lines to serialize along with the pane viewport when serializing sessions, 0
// defaults to the scrollback size. If this number is higher than the scrollback size, it will
// also default to the scrollback size. This does nothing if `serialize_pane_viewport` is not true.
// 
// scrollback_lines_to_serialize 10000
 
// Enable or disable the rendering of styled and colored underlines (undercurl).
// May need to be disabled for certain unsupported terminals
// (Requires restart)
// Default: true
// 
// styled_underlines false
 
// How often in seconds sessions are serialized
// 
// serialization_interval 10000
 
// Enable or disable writing of session metadata to disk (if disabled, other sessions might not know
// metadata info on this session)
// (Requires restart)
// Default: false
// 
// disable_session_metadata false
 
// Enable or disable support for the enhanced Kitty Keyboard Protocol (the host terminal must also support it)
// (Requires restart)
// Default: true (if the host terminal supports it)
// 
// support_kitty_keyboard_protocol false
 
// Whether to stack panes when resizing beyond a certain size
// Default: true
// 
// stacked_resize false
 
// Whether to show tips on startup
// Default: true
// 
show_startup_tips false
 
// Whether to show release notes on first version run
// Default: true
// 
// show_release_notes false
